body
{
    background: rgb(232, 234, 246);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

header
{
    background-color: rgb(63, 81, 181);
    color: rgb(255, 255, 255);
    height: 30px;
    padding-top: 5px;
    padding-left: 40px;
    align-items: center;
}

header > div
{
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 20px;
}

footer
{
    background-color: rgb(63, 81, 181);
    color: rgb(255, 255, 255);
    height: 24px;
    padding-top: 4px;
    padding-left: 40px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

footer > div
{
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 20px;
}

.logo-container
{
    display: flex;
    flex-flow: row wrap;
}

.logo-container > div
{
    padding: 0px 30px 0px 30px;
}

.links-container
{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 40px;
}

.links-container > div
{
    padding: 0px 30px;
    width: 300px;
    text-align: center;
}

.link-image
{
   height: 250px;
}

.map-page-container
{
    display: flex;
    flex-flow: row wrap;
}

.map-page-container > div
{
    padding: 10px 30px 10px 30px;
    text-align: center;
}

.project-logo
{
    height: 80px;
}

.page-link
{
    text-align: center;
}

.gridset-title
{
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.633333px;
    opacity: 0.87;
}

.release-version
{
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.633333px;
    opacity: 0.87;
}